/* 약관동의 1 팝업 */
#agree-01.mo,
#agree-02.mo,
#agree-03.mo {
  /* 팝업내용 */
  .fullpop_contlow_in {
    color: #303030;

    & > .title {
      font-size: 30px;
      line-height: 38px;
      letter-spacing: -0.75px;
      text-align: left;
      font-weight: bold;
    }
    & > .sub {
      font-size: 30px;
      line-height: 38px;
      letter-spacing: -0.75px;
      text-align: left;
      font-weight: bold;
      margin-top: 60px;
    }
    & > .description {
      font-size: 26px;
      line-height: 38px;
      letter-spacing: -0.65px;
      text-align: left;
    }
    span {
      display: inline-block;
    }
    .red {
      color: #e51f3f;
    }
  }
  @media (max-width: 750px) {
    .fullpop_contlow_in {
      & > .title {
        font-size: 4vw;
        line-height: 5vw;
      }
      & > .sub {
        font-size: 4vw;
        line-height: 5vw;
        margin-top: 8vw;
      }
      & > .description {
        font-size: 3.4vw;
        line-height: 5vw;
      }
    }
  }
}
