/* 모바일 간편가입 약관동의 */
.m-signup-01 {
  color: #303030;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* 컨테이너 */
  & > .container {
    width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 13.3vw;

    /* 스텝 */
    & > .step {
      display: flex;
      justify-content: center;
      width: 550px;
      height: 150px;
      margin-top: 60px;
    }

    /* 환영문구 */
    & > .intro {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      width: 390px;
      margin-top: 60px;

      /* 문구 */
      & > .text {
        font-family: Pretendard;
        font-size: 26px;
        font-weight: 500;
        line-height: 1.31;
        letter-spacing: -0.65px;
        text-align: center;

        /* 타이틀 */
        & > .title {
          display: inline-block;
          font-size: 45px;
          font-weight: bold;
          line-height: 0.89;
          letter-spacing: -1.13px;
          margin-bottom: 16px;
        }
      }
      /* 캐릭터 이미지 */
      & > .image {
        width: 274px;
        height: 194px;
      }
    }

    /* 컨텐츠 */
    & > .contents {
      width: 670px;
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;

      /* 타이틀 */
      & > .title {
        font-family: Pretendard;
        font-size: 32px;
        font-weight: bold;
        letter-spacing: -0.8px;
        text-align: center;

        & > .accent {
          color: #5918eb;
        }
      }

      & > div {
        /* 전체 동의 래퍼  */
        &.all-wrap {
          width: 670px;
          // padding: 30px;
          border-radius: 20px;
          background-color: #f4f4f4;

          /* 항목 설명 */
          & > article > .description {
            width: 610px;
            font-family: Pretendard;
            font-size: 26px;
            line-height: 1.46;
            letter-spacing: -0.65px;
            color: #606060;
            margin-top: 10px;
          }
        }

        /* 그 외 동의 래퍼 */
        &.agree-wrap {
          width: 670px;
          border-radius: 20px;
          border: solid 1px #cecece;
        }

        /* 동의 항목 */
        & > article {
          width: 610px;
          padding: 30px;
          position: relative;

          /* 마지막 항목이 아니면 테두리 하단 추가 */
          &:not(:last-child) {
            border-bottom: 1px solid #cecece;
          }

          & > label {
            font-family: Pretendard;
            font-size: 30px;
            line-height: 1.47;
            letter-spacing: -0.9px;

            &.all {
              font-weight: bold;
            }
            & > span {
              color: #521de2;
            }
          }

          /* 약관 상세보기 버튼 */
          & > .icon_more {
            position: absolute;
            right: 30px;
            cursor: pointer;
          }
        }
      }
    }
  }
  @media (max-width: 750px) {
    & > .container {
      width: 100vw;

      /* 스텝 */
      & > .step {
        width: 96vw;
        height: 20vw;
        margin-top: 8vw;
      }

      /* 환영문구 */
      & > .intro {
        gap: 2.1vw;
        width: 52vw;
        margin-top: 8vw;

        /* 문구 */
        & > .text {
          font-size: 3.4vw;

          /* 타이틀 */
          & > .title {
            font-size: 6vw;
            margin-bottom: 2.1vw;
          }
        }
        /* 캐릭터 이미지 */
        & > .image {
          width: 36vw;
          height: 25vw;
        }
      }

      /* 컨텐츠 */
      & > .contents {
        width: 89vw;
        margin-top: 6.6vw;
        gap: 5.3vw;

        /* 타이틀 */
        & > .title {
          font-size: 4.2vw;
        }

        & > div {
          /* 전체 동의 래퍼  */
          &.all-wrap {
            width: 89vw;
            border-radius: 2.6vw;

            /* 항목 설명 */
            & > article > .description {
              width: 81vw;
              font-size: 3.4vw;
              margin-top: 1.3vw;
            }
          }

          /* 그 외 동의 래퍼 */
          &.agree-wrap {
            width: 89vw;
            border-radius: 2.6vw;
          }

          /* 동의 항목 */
          & > article {
            width: 81vw;
            padding: 4vw;

            & > label {
              font-size: 4vw;
            }

            /* 약관 상세보기 버튼 */
            & > .icon_more {
              right: 4vw;
              width: 6.4vw;
              height: 6.4vw;
            }
          }
        }
      }
    }
  }
}

/* 간편가입 정보입력 */
.m-signup-02 {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* 컨테이너 */
  & > .container {
    width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* 스텝 */
    & > .step {
      display: flex;
      justify-content: center;
      width: 550px;
      height: 150px;
      margin-top: 60px;
    }

    /* 컨텐츠 */
    & > .contents {
      width: 670px;
      border-radius: 40px;
      margin-top: 40px;
      margin-bottom: 100px;
      display: flex;
      flex-direction: column;

      /* 등록 폼 */
      & > form {
        padding: 50px 0;

        /* 폼 타이틀 */
        & > .title {
          font-size: 28px;
          font-weight: bold;
          line-height: 38px;
          letter-spacing: -0.7px;
          display: flex;
          margin-bottom: 24px;

          & > span {
            margin-left: 10px;
          }
        }

        /* 입력 항목 */
        article {
          display: flex;
          flex-direction: column;
          gap: 12px;
          margin-bottom: 20px;

          /* 인풋 라벨 */
          & > label {
            display: inline-block;
            font-family: Pretendard;
            font-size: 26px;
            line-height: 1.08;
            letter-spacing: -0.65px;
            color: #606060;
          }

          & > .item {
            display: flex;
            gap: 10px;
          }

          & > input.child-name {
            font-weight: bold;
            background-color: #f6f6f6;
          }

          & > .child-age {
            text-align: center;
            font-weight: bold;
          }
        }
      }
    }
  }
  @media (max-width: 750px) {
    & > .container {
      width: 100vw;

      /* 스텝 */
      & > .step {
        width: 96vw;
        height: 20vw;
        margin-top: 8vw;
      }

      /* 컨텐츠 */
      & > .contents {
        width: 81vw;
        border-radius: 5.3vw;
        margin-top: 5.3vw;
        margin-bottom: 13.3vw;

        /* 등록 폼 */
        & > form {
          padding: 6.6vw 0;

          /* 폼 타이틀 */
          & > .title {
            font-size: 3.7vw;
            line-height: 5vw;
            margin-bottom: 3.2vw;

            & > img {
              width: 5vw;
              height: 5vw;
            }

            & > span {
              margin-left: 1.3vw;
            }
          }

          /* 입력 항목 */
          article {
            gap: 1.6vw;
            margin-bottom: 2.6vw;

            /* 인풋 라벨 */
            & > label {
              font-size: 3.4vw;
            }

            & > .item {
              gap: 1.3vw;
            }
          }
        }
      }
    }
  }
}

/* 간편가입 가입완료 */
.m-signup-03 {
  color: #303030;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* 컨테이너 */
  & > .container {
    width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* 스텝 */
    & > .step {
      display: flex;
      justify-content: center;
      width: 550px;
      height: 150px;
      margin-top: 60px;
    }

    /* 환영문구 */
    & > .intro {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      width: 390px;
      margin-top: 60px;

      /* 문구 */
      & > .text {
        font-family: Pretendard;
        font-size: 26px;
        font-weight: 500;
        line-height: 1.31;
        letter-spacing: -0.65px;
        text-align: center;
        display: inline-block;

        /* 타이틀 */
        & > .title {
          display: inline-block;
          font-size: 45px;
          font-weight: bold;
          line-height: 0.89;
          letter-spacing: -1.13px;
          margin-bottom: 16px;
        }
      }
      /* 캐릭터 이미지 */
      & > .image {
        width: 322px;
        height: 248px;
      }
    }

    /* 컨텐츠 */
    & > .contents {
      width: 670px;
      padding: 60px 0;
      background-color: #f2f9ff;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 30px;

      & > div {
        padding: 0 86px;
        display: flex;
        justify-content: space-between;

        & > span {
          font-size: 28px;

          &.email,
          &.child-name {
            font-weight: bold;
            color: #5918eb;
          }
        }
      }
    }

    /* 버튼 섹션 */
    & > .button-section {
      width: 670px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      margin-top: 30px;
      margin-bottom: 100px;
    }
  }

  @media (max-width: 750px) {
    & > .container {
      width: 100vw;

      /* 스텝 */
      & > .step {
        width: 96vw;
        height: 20vw;
        margin-top: 8vw;
      }

      /* 환영문구 */
      & > .intro {
        gap: 2.1vw;
        width: 52vw;
        margin-top: 8vw;

        /* 문구 */
        & > .text {
          font-size: 3.4vw;

          /* 타이틀 */
          & > .title {
            font-size: 6vw;
            margin-bottom: 2.1vw;
          }
        }
        /* 캐릭터 이미지 */
        & > .image {
          width: 36vw;
          height: 25vw;
        }
      }

      /* 컨텐츠 */
      & > .contents {
        width: 89vw;
        margin-top: 6.6vw;
        gap: 1.3vw;
        padding: 8vw 0;
        border-radius: 2.6vw;

        & > div {
          padding: 0 11.4vw;

          & > span {
            font-size: 3.7vw;
          }
        }
      }

      /* 버튼 섹션 */
      & > .button-section {
        width: 89vw;
        gap: 2.6vw;
        margin-top: 4vw;
        margin-bottom: 13.3vw;
      }
    }
  }
}

/* 일반가입 약관동의 */
.m-signup-11 {
  color: #303030;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* 컨테이너 */
  & > .container {
    width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* 스텝 */
    & > .step {
      display: flex;
      justify-content: center;
      width: 550px;
      height: 150px;
      margin-top: 60px;
    }

    /* 컨텐츠 */
    & > .contents {
      width: 670px;
      margin-top: 50px;
      // margin-bottom: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;

      /* 타이틀 */
      & > .title {
        font-family: Pretendard;
        font-size: 32px;
        font-weight: bold;
        letter-spacing: -0.8px;
        text-align: center;

        & > .accent {
          color: #5918eb;
        }
      }

      & > div {
        /* 전체 동의 래퍼  */
        &.all-wrap {
          width: 670px;
          // padding: 30px;
          border-radius: 20px;
          background-color: #f4f4f4;

          /* 항목 설명 */
          & > article > .description {
            width: 610px;
            font-family: Pretendard;
            font-size: 26px;
            line-height: 1.46;
            letter-spacing: -0.65px;
            color: #606060;
            margin-top: 10px;
          }
        }

        /* 그 외 동의 래퍼 */
        &.agree-wrap {
          width: 670px;
          border-radius: 20px;
          border: solid 1px #cecece;
        }

        /* 동의 항목 */
        & > article {
          width: 610px;
          padding: 30px;
          position: relative;

          /* 마지막 항목이 아니면 테두리 하단 추가 */
          &:not(:last-child) {
            border-bottom: 1px solid #cecece;
          }

          & > label {
            font-family: Pretendard;
            font-size: 30px;
            line-height: 1.47;
            letter-spacing: -0.9px;

            &.all {
              font-weight: bold;
            }
            & > span {
              color: #521de2;
            }
          }

          /* 약관 상세보기 버튼 */
          & > .icon_more {
            position: absolute;
            right: 30px;
            cursor: pointer;
          }
        }
      }
    }
  }
  @media (max-width: 750px) {
    & > .container {
      width: 100vw;

      /* 스텝 */
      & > .step {
        width: 96vw;
        height: 20vw;
        margin-top: 8vw;
      }
      /* 컨텐츠 */
      & > .contents {
        width: 89vw;
        margin-top: 6.6vw;
        gap: 5.3vw;

        /* 타이틀 */
        & > .title {
          font-size: 4.2vw;
        }

        & > div {
          /* 전체 동의 래퍼  */
          &.all-wrap {
            width: 89vw;
            border-radius: 2.6vw;

            /* 항목 설명 */
            & > article > .description {
              width: 81vw;
              font-size: 3.4vw;
              margin-top: 1.3vw;
            }
          }

          /* 그 외 동의 래퍼 */
          &.agree-wrap {
            width: 89vw;
            border-radius: 2.6vw;
          }

          /* 동의 항목 */
          & > article {
            width: 81vw;
            padding: 4vw;

            & > label {
              font-size: 4vw;
            }

            /* 약관 상세보기 버튼 */
            & > .icon_more {
              right: 4vw;
              width: 6.4vw;
              height: 6.4vw;
            }
          }
        }
      }
    }
  }
}

/* 일반가입 정보입력 */
.m-signup-12 {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* 컨테이너 */
  & > .container {
    width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* 스텝 */
    & > .step {
      display: flex;
      justify-content: center;
      width: 550px;
      height: 150px;
      margin-top: 60px;
    }

    /* 컨텐츠 */
    & > .contents {
      width: 670px;
      border-radius: 40px;
      margin-top: 40px;
      margin-bottom: 100px;
      display: flex;
      flex-direction: column;

      /* 등록 폼 */
      & > form {
        padding: 50px 0;

        /* 입력 항목 */
        article {
          display: flex;
          flex-direction: column;
          gap: 12px;
          margin-bottom: 20px;

          /* 인풋 라벨 */
          & > label {
            display: inline-block;
            font-family: Pretendard;
            font-size: 26px;
            line-height: 1.08;
            letter-spacing: -0.65px;
            color: #606060;
          }

          & > input.child-name {
            font-weight: bold;
            background-color: #f6f6f6;
          }

          & > .item {
            display: flex;
            gap: 10px;

            & > div {
              width: 100%;
              position: relative;

              /* 인증가능시간 */
              & > .time {
                position: absolute;
                right: 30px;
                top: 27px;
                font-family: Pretendard;
                font-size: 30px;
                line-height: 0.93;
                letter-spacing: -0.75px;
                text-align: right;
                color: #e51f3f;
              }
            }

            & > button {
              border-radius: 15px;
              width: 200px;
              font-size: 28px;
              font-weight: normal;
            }
          }

          & > .child-age {
            text-align: center;
            font-weight: bold;
          }
        }
      }
    }
  }
  @media (max-width: 750px) {
    & > .container {
      width: 100vw;

      /* 스텝 */
      & > .step {
        width: 96vw;
        height: 20vw;
        margin-top: 8vw;
      }
      /* 컨텐츠 */
      & > .contents {
        width: 89vw;
        border-radius: 5.3vw;
        margin-top: 5.3vw;
        margin-bottom: 13.3vw;

        /* 등록 폼 */
        & > form {
          padding: 6.6vw 0;

          /* 입력 항목 */
          article {
            gap: 1.6vw;
            margin-bottom: 2.6vw;

            /* 인풋 라벨 */
            & > label {
              font-size: 3.4vw;
            }

            & > .item {
              gap: 1.3vw;

              & > div {
                /* 인증가능시간 */
                & > .time {
                  right: 4vw;
                  top: 3.6vw;
                  font-size: 4vw;
                }
              }

              & > button {
                border-radius: 2vw;
                width: 26.6vw;
                font-size: 3.7vw;
              }
            }
          }
        }
      }
    }
  }
}
